# Entornos virtuales
.venv/
venv/
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales
*.log
*.pot
*.pyc
*.pyo
# *.db
pycache
db.sqlite3
media
# Archivos de configuraciones de sistema
.DS_Store
Thumbs.db

# Configuración de IDE
.vscode/
.idea/

# Archivos de migraciones si no querés versionarlos
# *migrations/

# Archivos de configuración local
.env
