{% extends 'blog/base.html' %}

{% block content %}
    <h2>Buscar artículos por categoría</h2>
    <form method="get">
        <input type="text" name="categoria" placeholder="Escribí una categoría...">
        <input type="submit" value="Buscar">
    </form>
    {% if articulos %}
    <h3>Resultados:</h3>
    <ul>
        {% for articulo in articulos %}
            <li>
                <strong>{{ articulo.titulo }}</strong><br>
                ✍️ Autor: <a href="{% url 'perfil_autor' code=articulo.autor.code %}">{{ articulo.autor.nombre }}</a><br>
                📚 Categoría: {{ articulo.categoria.nombre }}<br>
                🔗 GitHub: <a href="{{ articulo.contenido }}" target="_blank">{{ articulo.contenido }}</a><br>
            </li>
        {% endfor %}
    </ul>
{% elif request.GET.categoria %}
    <p>No se encontraron artículos con esa categoría.</p>
{% endif %}
<h2>Lista de todas las categorías creadas</h2>
<ul>
    {% for categoria in todas_las_categorias %}
        <li>📚  {{ categoria.nombre }}</li>
    {% endfor %}
</ul>

{% endblock %}
